
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Phong'Store | Landing Page</title>

    <link href="~/css/landing_page.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="text-box">
            <h3 class="heading-primary">
                <span class="heading-primary_main">P'Store</span>
                <span class="heading-primary_sub">OS Intern Project</span>
            </h3>
            <h5 style="font-size: 20px;margin-bottom: 10px; color: white;"> Are you ready ? </h5>
            <a asp-action="Login" class="btn btn-white">Login</a>
        </div>
    </header>

</body>

</html>
